* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}
.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: blue;
    color: rgb(119, 116, 116);
}
.header {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    color: orange;
    font-size: 2rem;
}
.header .nav {
    display: flex;
    gap: 2rem;
}
.header .nav a {
    display: block;
    color: white;
    padding: 0.5rem 1rem;
}
.header .nav a:hover {
    color: blue;
    background: white;
}
.header .nav a.active {
    color: white;
    background: orange;
}

/* Home page */
#home {
    background-color: red;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#home .home-img {
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.wrapper {
    background: orange;
}
